body{
  font-family: sans-serif;
  background-color: #f09314;
  color: white;
}
button {
  background-color: #4a6376;
  border: none;
  border:2px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

h1{
  padding: 15px;
  font-weight: lighter;
}

h3{
  padding: 15px;
  opacity: 0.6;
  font-size: 22px;
  font-weight: lighter;
}
